img {
  width: 100px;
}
#baskets {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.basket {
  width: 200px;
  height: 200px;
  border: solid;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.basket img {
  display: none;
}
.selected img {
  display: inline;
}
